



<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel ="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Sign Up</title>
  </head>
  <body class="bg-nav">
    <nav class = "navbar">
        <a href ="" class ="navbar-brand text-light" style="font-size:40px"><b>Docket_App</b></a>

    </nav>
    <div class = "container">
        <div class ="row">
            <div class = "col-md-8">
               <h1 class="text-light display-4 mt-3" style="font-size:90px">Bringing you the power of creating lists in your smartphones & PCs.</h1>
            </div>

            <div class = "col-md-4 mt-100">
                <h1 class="text-light" style="text-align:center"><b>SIGN UP</b></h1>
                <form class = "form" method="POST" action="insert">
                {% csrf_token %}
                    <input type ="text" class="form-control" placeholder = "Username" name="name">
                    <input type ="email" class="form-control" placeholder = "Email Id" name="email">
                    <input type ="password" class="form-control" placeholder = "Password" name="pwd">
                    <input type ="submit" class="btn btn- primary btn-block btn-lg btn-info" value="Register">
                </form>
                <p class="mt-2"><b>Already have an account?<a href="/main" class="text-dark">Sign In</b></a></p>

            </div>

        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>